*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.app{
    display: flex;
}
.sidebar{
    height: 100vh;
    width: 12.5%;
    position: fixed;

}
.body{
    height: 100vh;
    width: 87.5%;
    /* background-color: #bb5847; */
    margin-left: 12.5%;
}
.header{
    height: 8%;
    width: 100%;
    /* background-color: bisque; */
    background-color: #fff;
}

.header{
    display: flex;
    justify-content: space-between;
}
.header__group{
    height: 100%;
    width: 22.5%;
    /* background-color: skyblue; */
    display: flex;
}
.header__group2{
    width: 60%;
    /* background-color: skyblue; */
}
.header__group-item{
    margin: auto;
    text-align: center;
}
.header__group-item3{
    height: 50%;
    width: 120px;
    /* background-color: #bb5847; */
    border-radius: 10px;
    line-height: calc(12.266px * 2);
    font-size: 14px;
    border: 1px solid #8b8b8b;
}

.header__group2-item{
    height: 100%;
    width: 30%;
    /* background-color: tomato; */
    margin: auto;
}
.header__group2-item1{
    display: flex;
}
.header__group2-item1-search{
    height: 65%;
    width: calc(100% - 2px);
    /* background-color: springgreen; */
    margin: auto;
    border: 1px solid #8b8b8b;
    display: flex;
    border-radius: 5px;
}
.header__group2-item1-search-input{
    height: 90%;
    width: 80%;
    margin: auto;
    /* background-color: #bb5847; */
    display: flex;
}
.header__group2-item1-search-input2{
    width: 20%;
    margin: auto;
}

.header__group2-item1-search-input input{
    height: 100%;
    width: calc(100% - 5px);
    border: none;
    outline: none;
    padding-left: 5px;
    background: none;
}

.header__group2-item1-search-input2-icon{
    display: flex;
    height: 100%;
    width: 100%;
    
}
.header__group2-item1-search-input2-icon i{
    margin: auto;
    text-align: center;
    width: 100% ;
    color: #e6e3e3;
}   


.header__group2-item2{
    display: flex;
    width: 27.5%;
}   
.header__group2-item2-item{
    height: 100%;
    width: 25%;
    display: flex;
    transition:all 0.1s ease-in;
    cursor: pointer;

}

.header__group2-item2-item i, p{
    margin: auto;
    text-align: center;
    width: 100%;
}

.header__group2-item3{
    display: flex;
}
.header__group2-item3-item{
    margin: auto;
}
.container{
    height: calc(100% - 8%);
    width: 100%;
    background-color: #f4f5f8
}
.sidebar__logo{
    display: flex;
    height: 65px;
    width: 100%;
    background-color: #393a3d;
}
.sidebar__logo-img{
    height: 80%;
    width: 65%;
    margin: auto;
    background-size: cover;
    background-position: center;
}
.sidebar__item{
    height: 45px;
    width: 100%;
    background-color: #393a3d;
    display: flex;
    color: #e6e3e3;
    transition:all 0.1s ease-in;
}
.sidebar__item-icon{
    height: 100%;
    width: 60px;
    margin: auto;
    text-align: center;
    display: flex;
}
.sidebar__item-icon i{
    width: 100%;
    margin: auto;
}
.sidebar__item-text{
    width: calc(100% - 40px);
    height: 100%;
    line-height: 50px;
    font-size: 13px;
    text-align: left;

    
}

.container__top{
    height: 300px;
    width: 90%;
    background-color: #8b8b8b;
    justify-content: space-between;
    margin: auto;
    display: flex;
    margin-bottom: 20px;
}
.container__top1{
    height: 100%;
    width: 49%;
    background-color: #bb5847;
}

.container__h2{
    padding: 20px 50px;
}

/* hover */


.sidebar__item:hover{
    background-color: #727171;
    
}
.header__group2-item2-item:hover{
    background-color: #393a3d;
    color:#e6e3e3;
}














/* css tienmat */


.container__khachhang{
    height: 380px;
    width:100% ; 
    margin-top: 20px; 
    border-radius: 5px; 
    padding: 20px;
    background: #eceef1;
    color: #333;
    font-weight: 600;
    
    
    
    
    
    
}


.container__khachhang form input{
    height: 30px;
    border-radius: 0px;
    font-size: 14px;
}
.container__khachhang form label{
    font-size: 14px;
}



.table__khachhang{
    margin-top: 50px;
}

